# Supabase Configuration
VITE_SUPABASE_URL=https://ysessmuraxozobczjfbq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY= sb_publishable_W3jlkc_LLiXmEAnUgKuBRA_1sNxZpg7

# WebSocket Server URL
VITE_WS_URL=http://localhost:3001
